<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxb.dingtalk.mapper.DepartmentInfoMapper">
  <resultMap id="BaseResultMap" type="com.wxb.dingtalk.entity.DepartmentInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, department_id, parent_id, department_name
  </sql>

  <!-- 获取所有部门信息 -->
  <select id="queryAll" resultType="com.wxb.dingtalk.domain.DepartmentTreeVo">
    select
        parent_id as parentId,
        department_id as departmentId,
        department_name as departmentName
    from department_info
  </select>

  <!-- 批量插入部门 -->
  <insert id="insertDeparts" parameterType="java.util.List">
    insert ignore into department_info
        (department_id, parent_id,department_name)
    values
    <foreach collection="list" item="dept" index="index" separator=",">
        (#{dept.id}, #{dept.parentid},#{dept.name})
    </foreach>
  </insert>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wxb.dingtalk.entity.DepartmentInfo">
    insert into department_info (id, department_id, parent_id, 
      department_name)
    values (#{id,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, 
      #{departmentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wxb.dingtalk.entity.DepartmentInfo">
    insert into department_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wxb.dingtalk.entity.DepartmentInfo">
    update department_info
    <set>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wxb.dingtalk.entity.DepartmentInfo">
    update department_info
    set department_id = #{departmentId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      department_name = #{departmentName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>